{% extends "base.html" %}

{% block title %}
{{ facility.name }} | ArenaBooking
{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

<div class="card shadow-sm mb-4 border-0">
    <div class="card-body">
        <h2 class="card-title mb-2">{{ facility.name }}</h2>

        {% if facility.city %}
            <p class="text-muted mb-1">
                📍 {{ facility.city }}
            </p>
        {% endif %}

        <p class="text-muted mb-2">
            {{ facility.address }}
        </p>

        {% if facility.is_active %}
            <span class="badge bg-success">Aktivna</span>
        {% else %}
            <span class="badge bg-danger">Neaktivna</span>
        {% endif %}
    </div>
</div>


<h4 class="mb-3">Terene u ovoj dvorani</h4>

<div class="row">
    {% for court in facility.courts.all %}
        {% if court.is_active %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm court-card">
                <div class="card-body d-flex flex-column">

                    <h5 class="card-title mb-2 flex-grow-1">{{ court.name }}</h5>

                    <div class="court-info-bottom">
                        {% if court.sport %}
                            <p class="text-muted mb-3">
                                Sport: {{ court.get_sport_display }}
                            </p>
                        {% else %}
                             <p class="text-muted mb-3">&nbsp;</p> 
                        {% endif %}

                        <div class="mt-auto">
                            <span class="badge bg-primary mb-2">Dostupan</span>
                            <br>
                            <a href="#" class="btn btn-sm btn-outline-primary w-100">
                                Rezerviraj
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endif %}
    {% empty %}
        <p>Nema aktivnih terena za ovu dvoranu.</p>
    {% endfor %}
</div>
<div class="mt-3">
    <a href="{% url 'facilities:facilities' %}" class="btn btn-outline-secondary">
        ← Nazad na dvorane
    </a>
</div>

{% endblock %}
