{% extends "base.html" %}

{% block title %}Dvorane | ArenaBooking{% endblock %}
<!--{% block hero %}{% endblock %}-->

{% block content %}
<h2>Dvorane</h2>

{% for facility in facilities %}
 <div class="mb-3">
    <a href="{% url 'facilities:facility_detail' facility.id %}" 
       class="facility-link text-decoration-none">
        {{ facility.name }}
    </a>

    {% if facility.city %} ({{ facility.city }}){% endif %}
    <br>
    <small class="text-muted">{{ facility.address }}</small>
 </div>
{% endfor %}

{% endblock %}
